#reloj {
    position: fixed; /* Mantiene el reloj en un lugar fijo */
    top: 10px; /* Posiciona el reloj en la parte superior */
    right: 10px; /* Posiciona el reloj en la esquina izquierda */
    font-size: 2em; /* Tamaño de fuente más pequeño */
    padding: 10px 20px; /* Menos padding alrededor del texto */
    background-color: #333;
    color: #61dafb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 150px; /* Ajusta el ancho automáticamente */
}

/* para los media queries*/

@media (max-width: 768px) {
    #reloj {
        font-size: 1em;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #reloj {
        width: 60px; 
        font-size: 0.9em;
    }
}